{% extends "base.html" %}

{% block content %}
<div class="function-buttons">
    <div class="button-row">
        <a href="/function1" class="function-btn">1. 数据清洗</a>
        <a href="/function2" class="function-btn">2. 一键加国码</a>
        <a href="/function3" class="function-btn">3. 数据拆分</a>
    </div>
    <div class="button-row">
        <a href="/function4" class="function-btn">4. 文件去重</a>
        <a href="/function5" class="function-btn">5. A去除B文本内容</a>
        <a href="/function6" class="function-btn">6. 指定前缀数据过滤</a>
    </div>
    <div class="button-row">
        <a href="/function7" class="function-btn special-btn">7. 国家运营商筛选</a>
    </div>
</div>
{% endblock %}